.user-content {
  padding: 24px;
  .create-time  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}